.footer__column_content_copyright {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-basis: 711px;
          flex-basis: 711px;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
