.footer__column-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  transition: color 0.3s;
}

.footer__column-link:hover {
  color: #2f80ed;
}
