.kaufman {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
          align-items: center;
  background: #1f1f1f;
  overflow: hidden;
  position: relative;
  padding: 90px 0;
  z-index: 1;
}
