.header__title {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  max-width: 730px;
  margin: 0;
  padding: 0;
  margin-left: 64px;
  z-index: 2;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
}
