.header__main-illustration {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right bottom;
     object-position: right bottom;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: -1;
}
